@import '../../styles/variables';
@import '../../styles/mixins';

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  &__container {
    max-width: $container-max-width;
    margin: 0 auto;
    padding: 0 $space-4;
    
    @include respond-to(md) {
      padding: 0 $space-6;
    }
    
    @include respond-to(lg) {
      padding: 0 $space-8;
    }
  }
}