# Django settings
DEBUG=True
SECRET_KEY=sua-chave-secreta

# Configurações do banco Protheus
PROTHEUS_NAME=PROTHEUS
PROTHEUS_USER=usuario_protheus
PROTHEUS_PASSWORD=senha_protheus
PROTHEUS_HOST=servidor_protheus
PROTHEUS_PORT=1521

